#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_python3:
	# Workaround to ignore r2e-migrate (see #719236)
	dh_python3 --ignore-shebangs
	sed -i '1s,.*,#! /usr/bin/python3,' debian/rss2email/usr/bin/r2e
